<%= simple_form_for @contact,  url: contacts_new_path(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="large-8 columns">
      <%= f.input :email %>
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <%= f.input :descritpion, label: 'Quelle est votre question?' %>
    </div>
  </div>

  <div class="btn">
    <%= f.button :submit, "Envoyez" %>
  </div>

<% end %>
